/**
 * Syntax highlighting styles
 */
.highlight {
    background: #fff;
    color: #dcdccc;
    @extend %vertical-rhythm;

    .highlighter-rouge & {
      background: #3f3f3f;
    }
}

.src {
    background: #fff;
    color: #dcdccc;

    .org-src-container & {
        background: #3f3f3f;
    }
}

.org-src-container {
    @extend %vertical-rhythm;
}
